$vw_fontsize: 75;
@function rem($px) {
  @return ($px / $vw_fontsize) * 1rem;
}
$bg_color: #00bcd4;
$datkTextColor: #333;
$header_height: rem(43);
$vw_width: rem(375);
@mixin ellipsis(){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul,li{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
// z-index值
$mest: 15;
$more: 12;
$many: 9;
$some: 6;
$little: 3;
