$vw_fontsize: 75;
@function rem($px) {
  @return ($px / $vw_fontsize) * 1rem;
}
$bg_color: #00bcd4;
$datkTextColor: #333;
$header_height: rem(43);
@mixin ellipsis(){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li{
  list-style: none;
}
